
@font-face {
    font-family: 'Gilda Display';
    font-display: swap;
    src: url('../../fonts/Gilda_Display/GildaDisplay-Regular.ttf');
}

#strAutumn {
    animation: wordFall 1s ease-out 0s;
}

#strAutumn > text {
    font-family: 'Gilda Display', serif;
}

@keyframes wordFall {
    from {
        transform: translateY(-100px);
    } to {
        transform: translateY(0px);
    }
}

/*h1::before,h1::after {
    content: ' ❄︎ ';
}*/

.fallingLeaf {
    animation: leafFall 3s linear forwards;
}

@keyframes leafFall {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(400px);
    }
}