:root {
  --paragraphWidth: min(35rem, 80vw);
  --zIndexWorkInProgressBottom: -1;
  --zIndexParagraphHover: 2;
  --zIndexWorkInProgress: 3;
  --zIndexGithub: 4;
  --zIndexFullscreen: 5;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-VariableFont_slnt_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilda Display';
  font-display: swap;
  src: url('./fonts/Gilda_Display/GildaDisplay-Regular.ttf');
}

body {
  background-color: var(--backgroundColour);
  cursor: url('./pizzaCursor.png'), pointer;
}

body, body * {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /*font-family: 'Zilla Slab', serif;*/
  font-variation-settings: 'wght' 400;
  transition: color 0.5s, fill 1s, opacity 1s, outline-color 0.5s;
  outline: solid rgba(255,255,255,0);
}

h1 {
  /*font-family: 'Noto Serif KR', serif;*/
  /*font-family: 'Zilla Slab', serif;*/
  font-size: 1.75rem;
  font-family: "quicksand";
  font-variation-settings: 'wght' 500;
}

/* firefox-specific css*/
@supports (-moz-appearance:none) {
  h1 { font-variation-settings: 'wght' 650; /* font weight calculated differently on ff */ }
}

html {
  scroll-snap-type: y proximity;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}

.centerCross {
  display: flex;
  align-items: center;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerCrossStetch {
  display: flex;
  align-items: stretch;
}

.spacer {
  flex-grow: 1;
}

.fullWidth { width: 100%}

.paragraphContent *{
  white-space: pre-line;
}

.clickable:hover, button:hover{
  cursor: pointer;
}

#root > div {
  min-height: 100vh;
}

#mainContent{
  width: 100%;
  /*max-width: var(--paragraphWidth);*/
}

.mobileShort {
  width: var(--paragraphWidth);
}

#tabButtons {
  /*background-color: aquamarine;*/
  background-color: transparent;
}

#tabButtons button {
  /*background-color: aquamarine;*/
  transition: background-color 1s;
  background-color: rgba(0,0,0,0.1);
  font-size: 1.5rem;
  color: white;
  padding: 0.75rem;
  /*border: solid thin white;*/
  border: none;
  background-color: white;
  color: var(--grey600);
  width: 9.5rem;
  font-variation-settings: 'wght' 500;
}

#tabButtons a:not(:first-child) button{
  border-left: solid thin var(--grey200);
}

#tabButtons {
  margin-top: 1.5rem;
  --cornerRadius: 0.5rem;
}

#tabButtons > a:first-child > button {
  border-radius: var(--cornerRadius) 0 0 var(--cornerRadius);
}

#tabButtons > a:last-child > button {
  border-radius: 0 var(--cornerRadius) var(--cornerRadius) 0;
}

#tabButtons button:hover, #tabButtons button.selected{
  /*background-color: lightseagreen;*/
  background-color: var(--buttonSelectedColour);
  color: white;
}

#myFace {
  border-radius: 100%;
  object-fit: cover;
  object-position: 100% 0;
  width: 10rem;
  height: 10rem;
  border: solid var(--buttonSelectedColour) .5rem;
  margin-bottom: 1rem;
}

#myResume {
  margin-top: 1rem;
  max-height: 70vh;
  max-width: 95%;
  box-shadow: 0 0 0.5rem -0.2rem #000;
  margin-bottom: 1rem;
}

#projectsTab > *:last-child{
  margin-bottom: 1.5rem;
}

.paragraph .paragraphHeading {
  margin-bottom: 0.5rem;
}

.project, .paragraph{
  transition: transform 1s;
}

.project{
  position: relative;
  margin-top: 1.5rem;
  background-color: var(--paragraphColour);
  border-radius: 1rem;
  /*scroll-snap-align: center;*/
  box-shadow: 0 0 0.5rem -0.2rem var(--grey700);
  width: min(90%, 800px);
}

.project:last-child {
  margin-bottom: 1.5rem;
}

.project .upperHalf {
  padding: 1.5rem;
  padding-top: 1rem;
}

.project .bottomHalf {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--grey100);
}

.bottomHalf .bottomHalfContent {
  padding: 1.5rem;
}

.bottomHalf .bottomHalfContent > * {
  flex: 1 1 0px;
}

.bottomHalfButtons{
  background-color: var(--grey300);
}

.bottomHalfButtons > button {
  width: 100%;
  border: none;
  font-variation-settings: 'wght' 400;
  padding: 0.25rem 0;
}

.bottomHalfButtons * {
  transition: none;
}

.bottomHalfButtons button svg {
  width: 0.9rem;
  margin-right: 0.25rem;
}

.bottomHalfButtons > .notSelected {
  color: var(--grey700);
  background-color: var(--grey200);
}

.bottomHalfButtons > .selected {
  color: var(--headingColour);
  background-color: var(--grey300);
  border-bottom: solid thick var(--headingColour);
}

.bottomHalfContent .techStack {
  margin-left: 0;
}

.paragraph{
  position: relative;
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-top: 1rem;
  background-color: var(--paragraphColour);
  border-radius: 1rem;
  /*scroll-snap-align: center;*/
  box-shadow: 0 0 0.5rem -0.2rem #000;
}

.projectDesign .paragraphContent > div {
  margin-bottom: 1.5rem;
}
/*
.project:hover, .paragraph:hover{
  transform: scale(1.03);
  z-index:100;
}
*/
/*
.paragraph:hover{
  transform: scale(1.03);
  z-index: var(--zIndexParagraphHover);
}
*/
/* I think this causes major lag, especially for safari */

.project > img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  border-bottom: solid thin whitesmoke;
}

.paragraphImgPadding{
  padding: 0 1rem 1rem 1rem;
}

/*header {
  scroll-snap-align: start;
}*/

.paragraph:last-child{
  margin-bottom: 2rem;
}

.paragraph h1, .project h1, .design h1{
  margin: 0;
  /*text-align: center;*/
  /*color: royalblue;*/
  color: var(--headingColour);
  line-height: 1;
  /*color: var(--backgroundColour);*/
}

.design .paragraphHeading {
  margin-bottom: 0.75rem;
}

/*.project h1 {
  align-self: flex-start;
  margin-left: 2rem;
  margin-top: 1rem;
}*/

.projectAnchor {
  width: 100%;
}

.project .paragraphHeading{
  align-self: flex-start;
  margin: 0;
  margin-bottom: 0.5rem;
}

.paragraphContent .arrowRight {
  color: var(--buttonSelectedColour);
  height: 1rem;
  max-width: 1rem;
  min-width: 1rem;
  margin-top: 0.15rem;
  margin-right: 1rem;
}

.paragraphContent p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray800);
  font-variation-settings: 'wght' 400;
  margin: 0;
}

/*
.project:not(:hover) .slideshowNodesContainer {
  opacity: 0;
}
*/

.url {
  text-align: center;
  height: 2rem;
  width: 100%;
  position: relative;
  padding: 0.1rem;
  border-radius: 1.5rem;
  background-color: var(--gray200);
  color: var(--gray800);
  text-decoration: none;
  font-size: 0.85rem;
  overflow: hidden;
  /*box-shadow: inset 0 0 0.2rem 0.01rem var(--grey400);*/
  /*box-shadow: inset 0 1px 10px 1px rgb(51 65 85 / 10%);*/
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% { background-color: var(--gray200); }
  50% { background-color: var(--gray200); }
  75% { background-color: var(--gray100); }
  100% { background-color: var(--gray200); }
}

.url > span {
  margin-left: 0.25rem;
  flex-grow: 1;
  text-align: start;
  overflow: hidden;
  font-variation-settings: 'wght' 400;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.url:hover {
  /*background-color: var(--grey100);*/
}

.url:hover > span {
  text-decoration: underline;
  color: var(--blue);
}

.url svg {
  color: var(--grey500);
  height: 1.4rem;
}

.url:hover > svg * {
  color: var(--blue400);
}

.url svg.globe {
  margin-left: 0.35rem;
}

.url svg.link {
  margin-right: 0.35rem;
}

.techStack:not(:last-child) {
  margin-bottom: 1rem;
}

.techStackTitle {
  margin-right: 0.5rem;
}

.techStackTitle > p {
  font-variation-settings: 'wght' 600;
  color: var(--grey900);
  font-size: 13px;
  width: 4.1rem;
  margin-left: 0.25rem !important;
}

.techStackTitle svg{
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
}

.superTechType {
  background-color: var(--grey300);
  padding: 0.4rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.superTechTypeName > p{
  font-variation-settings: 'wght' 600;
}

.subType p {
  font-variation-settings: 'wght' 400;
}

.superTechType svg, .superTechType img {
  height: 1rem;
  width: 1rem;
  object-fit: contain;
}


.subType{
  background-color: white;
  border-radius: 1rem;
  margin-top: 0.4rem;
  padding: 0.4rem;
}

.subType + .subType {
  margin-left: 0.4rem;
}

.tech p {
  margin: 0;
}

.superTechType p {
  font-size: 0.75rem;
  margin-right: 0.25rem;
  margin-left: 0.2rem;
}

.projectDesign .ribbonTop, .projectDesign .ribbonBottom {
  position: absolute;
  color: var(--buttonSelectedColour);
}

.projectDesign .ribbonTop {
  width: 10rem;
  top: -0.5rem;
  right: -0.5rem;
}

.projectDesign .ribbonBottom {
  width: 6.7rem;
  top: -0.48rem;
  right: -0.48rem;
  z-index: var(--zIndexWorkInProgressBottom);
}

.workInProgress {
  position: absolute;
  transform: rotate(45deg);
  top: 2.3rem;
  right: -0.5rem;
  z-index: var(--zIndexWorkInProgress);
}

.workInProgress p {
  color: white;
  font-variation-settings: 'wght' 500;
}

.githubContainer {
  position: absolute;
  z-index: var(--zIndexGithub);
  top: 0.5rem;
  right: 0.5rem;
  animation: iconBob 0.75s ease-in-out alternate infinite;
}

.githubContainer:hover svg > *{
  fill: var(--blue);
}

@keyframes iconBob {
  0% { transform: scale(1); }
  100% { transform: scale(0.9); }
}

.url svg.globe {
  --shimmyRotation: 7.5deg;
  animation: shimmy 1.5s linear infinite;
}

@keyframes shimmy {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(0deg); }
  60% { transform: rotate(var(--shimmyRotation)); }
  70% { transform: rotate(calc(-1 * var(--shimmyRotation))); }
  80% { transform: rotate(var(--shimmyRotation)); }
  90% { transform: rotate(calc(-1 * var(--shimmyRotation))); }
  100% { transform: rotate(0); }
}

.githubContainer svg{
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--buttonSelectedColour);
}

.design:first-child{
  margin-top: 1.5rem;
}

.design {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  width: min(90%, 800px);
  box-shadow: 0 0 0.5rem -0.2rem #000;
  position: relative;
}

.design .slideshowPreview img, .design .slideshowPreview video{
  display: none;
}

.design .leftHalf {
  /*background-color: var(--grey100);*/
  border-radius: 1rem 0 0 1rem;
}

.design .leftHalf, .design .rightHalf {
  padding: 1.5rem;
}

.design .rightHalf {
  padding-top: 0.5rem;
}

.design .rightHalf {
  background-color: var(--grey100);
  border-radius: 0 1rem 1rem 0;
}

.design .leftHalf, .design .rightHalf {
  width: 50%;
}

footer {
  position: sticky;
  bottom:  0;
  background-color: var(--grey200);
  height: 2rem;
  width: 100%;
  z-index: 1000;
}

footer > p {
  margin: 0;
  color: var(--grey700);
  font-size: 0.8rem;
}

.testimony  {
  padding: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box; 
  width: min(90%,800px);
}

.testimony p {
  margin: 0;
}

.testimony .quoteContainer {
  max-width: 35rem;
  position: relative;
  z-index: 1;
}

.testimony .quoteIconContainer {
  position: absolute;
  top: -3.5rem;
  left: -2.5rem;
  z-index: -1;
}

.testimony .quoteIconInnerContainer {
  font-family: 'Gilda Display', serif;
  font-size: 15rem;
  color: var(--grey200);
  overflow: hidden;
  height: 10rem;
}

.testimony .quoteIconInnerContainer:before {
  content: '“';
}

.testimony .authorContainer {
  margin-top: 1.35rem;
}

.testimony .author {
  font-weight: bold;
  font-style: italic;
  color: var(--grey800);
}

.testimony .author:before {
  content: "- ";
}

.testimony .sentence + .sentence {
  margin-top: 1rem;
}

.testimony .quoteContainer {
  margin: 1.5rem 0;
}

.testimony .sentence {
  line-height: 1.75;
}

.paragraphHeading span{
  font-size: 1.1rem;
  color: var(--grey400);
  /* font-variation-settings: "wght" 500; */
  font-variation-settings: "wght" 400;
  font-weight: normal;
  white-space: nowrap;
}

button.projectLink > svg > *{
  color: var(--grey500);
}

button.projectLink {
  background-color: transparent;
  border: none;
  margin-right: 0.5rem;
  padding: 0.25rem 0;
  position: relative;
}

button.projectLink:hover > svg > * {
  color: var(--blue500);
}

.projectNav {
  border-radius: 100rem;
  background-color: var(--buttonSelectedColour);
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border: none;
}

.projectNav p {
  margin: 0;
  margin-right: 0.3rem;
}

.projectNav svg {
  margin-right: 0.25rem;
}

.quotesContainer {
  margin-top: 1rem;
}

.url + .projectNav {
  margin-top: 0.75rem;
}

.projectNav svg {
  height: 1.25rem;
}

.arrows > svg, .innerSlideshowPreview {
  border-radius:5px;
}

.githubContainer > svg {
  border-radius:100%;
}

.projectNav:hover, .url:hover, .githubContainer:hover > svg {
  outline: solid var(--blue);
}


@media only screen and (orientation: portrait) {
	/*:root {
		--paragraphWidth: 90vw !important;
	}*/

	/*html {
		font-size: 11px;
	}*/p
  h1 {
    font-size: 1.5rem;
  }

  .url {
    font-size: 0.8rem;
  }

  .url > span {
    margin-left: 0.1rem;
  }

  .url svg {
    height: 1rem;
  }

  .projectLink {
    display: none;
  }

}

@media only screen and (max-width: 800px) {
  .testimony .quoteContainer:before {
    left: -1rem;
  }  

  #tabButtons button {
    font-size: 1rem;
    padding: 0.5rem; 
    width: 5.5rem
  }
}